<footer class="footer">
  <div class="container text-center">
    <div>Designed, built, and maintained with love by the team at Mapsense</div>
    <div>
      <a href="https://github.com/mapsense/mapsense.js" target="_blank">GitHub</a> -
      <a href="http://www.mapsense.co/gallery/" target="_blank">Gallery</a> -
      <a href="http://www.mapsense.co/blog/" target="_blank">Blog</a> -
      <a href="https://twitter.com/Mapsense/" target="_blank">Twitter</a> -
      <a href="https://github.com/mapsense/mapsense.js/issues" target="_blank">Issues</a> -
      <a href="{{ tosURL }}" target="_blank">Terms</a> -
      <a href="http://www.mapsense.co/contact/" target="_blank">About</a> -
      <a href="mailto:{{ supportEmail }}" target="_blank">Contact Us</a>:
      <a href="mailto:{{ supportEmail }}" target="_blank">{{ supportEmail }}</a>
    </div>
    <div class="copyright">&copy; 2015 Mapsense Inc.</div>
  </div>
</footer>
