body {
  font-family: 'Quattrocento Sans', sans-serif;
  margin-top: 50px; /* navbar's height */
}
h1.page-title {
  font-weight: bold;
  margin-bottom: 5px;
}
p.page-subtitle, div.page-subtitle { font-size: 18px; }

footer.footer, footer.footer div.container, section.footer { background-color: #dee4ea; }
section.footer div.row { margin-bottom: 0; }
footer.footer {
  color: #666666;
  line-height: 2em;
  font-size: 12px;
}
footer.footer div.container {
  position: relative;
  padding: 12px;
}
footer.footer a { color: #666666; }
footer.footer .copyright {
  position: block;
  bottom: 12px;
  right: 12px;
}
@media (min-width: 992px) {
  footer.footer .copyright { position: absolute; }
}
