body { color: #333333; }
section {
  position: relative;
  line-height: 1.75em;
  font-size: 18px;
}
section div.container { padding: 30px 0; }
section div.row { margin: 24px; }
section h1, section h2, section h4 { font-weight: bold; }
section.sign-up-section div.container { padding: 0; }
section.sign-up-section div.sign-up-btn-holder { line-height: 100px; } /* fake vertical-align */
section.sign-up-section div.sign-up-btn-holder button {
  color: #ffffff;
  background-color: #337ab7;
  pointer-events: auto;
}
section button.btn {
  border-radius: 22px;
  font-size: 18px;
  padding: 8px 24px;
  font-weight: bold;
  box-shadow:1px 1px 1px #aaaaaa;
}
section button.btn-default { background-color: #f8f8f8; }

div.code-sample-row {
  font-family: "Courier";
  font-size: 14px;
  color: #ffffff;
  background-color: #58595b;
  border-radius: 12px;
  padding: 1.25em;
  letter-spacing: 0.9px;
  line-height: 1.5em;
  word-break: break-all;
}
div.code-sample-row span.tag { color:#ec008c; }
div.code-sample-row span.attr { color:#27aae1; }
div.code-sample-row span.comment { color:#b6b7ba; }
section.hello-map-section { color: #58595b; }
section.hello-map-section div.row.title-row { margin: 24px 24px 0px; }
section.hello-map-section div.row.page-subtitle { margin: 0 24px 24px; }
section.hello-map-section button.learn-more-btn { margin-top: 12px; }
section.hello-map-section div.code-sample-row { margin-bottom: 54px; }
section.mapsense-js-section {
  color: #ffffff;
  background: #475c75 url("/images/bluehawaii.jpg") repeat-y bottom center;
}
@media (min-width: 992px) {
  section.mapsense-js-section { height: 500px; }
}
section.mapsense-js-section div.sign-up-btn-holder { margin: 24px 0; }

section.mapsense-data-section { background: #ffffff url("/images/lightriver.jpg") repeat-y bottom center; }
section.mapsense-data-section div.container { padding-top: 66px; }
@media (min-width: 992px) {
  section.mapsense-data-section { height: 500px; }
}

section.footer div.container { padding: 0px; }
section.footer div.container div.row { margin: 44px 0 20px; }

ul.summaryList { list-style-type: none; }
ul.summaryList li { margin-bottom: 12px; }
ul.summaryList li b {
  font-family: "Arial Black";
  margin-right: 12px;
}

.mapDiv { position: relative; }
section.sign-up-section { padding-top: 100px; }
section.sign-up-section, .map { height: 400px; }
.map {
  top: 0;
  position: absolute;
  z-index: 1;
}
div.float-container {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.85);
  pointer-events: none;
}

path {
  vector-effect: non-scaling-stroke;
  stroke-linejoin: round;
  stroke: grey;
  fill: none;
  stroke-linecap: round;
}
.rectile { fill: #ffffff; }
